@inherits LayoutComponentBase
@using System.Web;

<PageTitle>BlazorApp1</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
                    <LoginControl/>
                </div>

                <article class="content px-4">
                    <CascadingValue Value="@testValue" Name="testValue">
                        @Body
                    </CascadingValue>

                    @*<br />
                    <br />
                    <h3>Seleccionar valor</h3>
                    <select class="form-select" @onchange="nameChanged">
                        <option value="None" selected disabled hidden>Seleccione...</option>
                        <option value="Samuel Velásquez">Samuel Velásquez</option>
                        <option value="Samantha Velásquez">Samantha Velásquez</option>
                        <option value="Juan Velásquez">Juan Velásquez</option>
                        <option value="Yubiry Nuñez">Yubiry Nuñez</option>
                    </select>*@

                    @*<input class="form-control" type="text" name="nombre" list="nombres" @onchange="nameChanged" />
                    <datalist id="nombres">
                        <option value="Samuel Velásquez">Samuel Velásquez</option>
                        <option value="Samantha Velásquez">Samantha Velásquez</option>
                        <option value="Juan Velásquez">Juan Velásquez</option>
                        <option value="Yubiry Nuñez">Yubiry Nuñez</option>
                    </datalist>*@

                    @*<input class="form-control" type="text" @bind="@input" />*@

                    <br />
                    @*<button class="btn btn-primary" @onclick="@(e => testValue.setName(input))">Cambiar</button>*@
                    
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="page justify-content-center m-5">
            <main>
                <div class="row">
                    <div class="container col-4 p-4">
                        <div class="text-center">
                            <img src="img/winledger.png" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container col-4 border rounded p-4">
                            <label for="usuario" class="form-label">Usuario</label>
                            <input type="text" class="form-control" @bind="Username" name="Username"/>
                            <br />
                            <label for="clave" class="form-label">Clave</label>
                            <input type="password" class="form-control" @bind="Password" name="Password"/>
                            <br />
                            <a class="btn btn-primary" href="/login?paramUsername=@encode(@Username)&paramPassword=@encode(@Password)">Ingresar</a>
                    </div>
                </div>
            </main>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    string Username = "";
    string Password = "";
    string input = "";

    private testCascadingClass testValue = new() { name = "None" };

    public class testCascadingClass
    {
        public string? name { get; set; }
    }

    public void nameChanged(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            testValue.name = (string)e.Value;
        }
    }

    private string encode(string param)
    {
        return HttpUtility.UrlEncode(param);
    }


}